

<% @songs.each do |song| %>
  <p><%= song.title %></p>
<% end %>
<table>
  <tr>
    <th>title</th>
    <th>released</th>
    <th>release_year</th>
    <th>artist_name</th>
    <th>genre</th>
    </tr>
    <% @songs.each do |song| %>
      <tr>
          <td><%= song.title %></td>
          <td><%= song.title %></td>
          <td><%= song.released?%></td>
          <td><%= song.release_year%></td>
          <td><%= song.artist_name%></td>
          <td><%= song.genre%></td>
      </tr>
    <% end %>
  </table>
